body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;
}

.container {
    margin-left: 8.28vw;
    margin-right: 8.28vw;
}

.name {
    font-size: 150px;
    color: #2E2E2E;
    font-family: "Roboto";
    font-weight: 500;
    /* padding: 0; */
    margin: 0;
}

.works-container {
    font-size: 43px;
    color: #D4D4D4;
    font-weight: bold;
    margin: 0;
}

.works-container p {
    display: inline-block;
}

.works {
    cursor: pointer;
}

.works:hover {
    color: #979797;
}

#movie {
    color: #979797;
}

.description {
    font-size: 20px;
    color: #818181;
    margin-bottom: 100px;
}

.item {
    position: relative;
    width: 100%;
    padding: calc(315 / 560 * 100%) 0 0;
    margin-bottom: 50px;
    overflow: hidden;
}

.item iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: left;
    word-wrap:break-word;
}

#programs {
    display: none;
    flex-flow: column;
    width: 100%;
    height: calc(38vw * 2);
    margin-bottom: 50px;
    text-align: right;
}

.p-item {
    position: relative;
    height: 38vw;
}

.p-text {
    position: absolute;
    text-align: left;
}

.program-p {
    font-size: 30px;
    color: #707070;
    font-weight: bold;
    margin: 0;
}

.p-desc {
    font-size: 20px;
    color: #818181;
    margin: 0;
}

.p-image {
    position: absolute;
    width: 62%;
    right: 0;
    box-shadow: -5.2vw 5.2vw 0px #555555;
    cursor: pointer;
}

.p-image:hover {
    filter: brightness(70%);
}

/* PC */
@media screen and (min-width: 600px) {
    #videos{
        display: flex;
        margin-bottom: 1.5rem;
        justify-content: space-between;
        align-items: flex-start;
    }
    .item{
        flex-basis: 49.5%;
        padding-top: calc(315 / 560 * 100% /2);
    }
    .item iframe {
        height: 100%;
    }
}

/* スマホ */
@media screen and (max-width: 599px) {
    .name {
        font-size: 60px;
    }
    .works-container {
        font-size: 24px;
    }
    .description {
        font-size: 16px;
    }

    #programs {
        height: calc(66vw * 2);
    }
    .p-item {
        height: 66vw;
    }
    .p-text {
        position: relative;
    }
    .program-p {
        font-size: 24px;
    }
    .p-desc {
        font-size: 16px;
    }
    .p-image {
        position: relative;
        width: 100%;
        box-shadow: none;
    }
}